/*body {*/
    /*background-color: #f6f960;*/
    /*padding-top: 30px;*/
    /*box-sizing: border-box;*/
/*}*/

.main {
    background-color: #f6f9f6;
    /*width: 900px;*/
    margin: 0 auto;
}




.tab, .research-detail, .project-detail {
    width: 1000px;
    margin: 0 auto;
}
.tab ul {
    margin: 0;
    padding: 0;
}
.tab ul li {
    float: left;
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    background-color: #e3e3e3;
    color: #c5c5c5;
    list-style: none;
    margin-right: 2px;
    font-weight: bold;
}
.tab ul li.current {
    background-color: #cacaca;
    color: black;
    letter-spacing: 2px;
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}
h4 {
    box-sizing: border-box;
    height: 35px;
    background-color: #f2dcda;
    font-size: 16px;
    color: #000;
    line-height: 35px;
    padding-left: 14px;
    font-weight: bolder;
}


.arrow {
    color: #adadad;
    float: right;
    margin-right: 20px;
}
.text {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 14px;
    letter-spacing: 0.5px;
}

/*zxf*/
.text p{
    line-height: 24px;
}
.text .left {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
.text .right {
    display: inline-block;
    vertical-align: middle;
}
.research-detail, .project-detail {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}


/*zxf*/
.search_contact {
    font-weight: 550;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
}

.searchBox {
    width: 679px;
    height: 35px;
    margin-left: 45px;
    margin-top: 12px;
}

.searchMid {
    margin-left: 2px;
    width: 390px;
    height: 35px;
    background-color: #fff;
    position: relative;
}

.search_ipt {
    width: 390px;
    height: 27px;
    padding-top: 7px;
    background-color: #fff;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
    color: #333;
}

.searchRig input {
    width: 35px;
    height: 35px;
    background-color: #6094cd;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 1px;
    float: left;
}

.search_glass {
    background: #6094cd url(../images/search.png) no-repeat 8px 9px;
}


.searchRig input.result_search {
    margin-left: 5px;
    width: 108px;
}

.searchRig input {
    height: 35px;
    background-color: #6094cd;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 1px;
    float: left;
}

.search_result {
    width: 1000px;
    margin: 0 auto;
}

/*.search_person {*/
    /*font-weight: 550;*/
    /*line-height: 30px;*/
    /*font-size: 16px;*/
    /*margin-bottom: 2px;*/
    /*letter-spacing: 2px;*/
/*}*/

.search_line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.result_item {
    width: 15%;
    height: 180px;
    background-color: #fff;
    border: 1px solid #c7cdcf;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    display: inline-block;
}

.result_item_keywords{
    text-align: center;
}

.result_item img{
    width: 100px;
    height: 100px;
    margin-left: 23px;
}

.result_item span{
    display: block;
    margin-top: 2px;
    font-size: 12px;
}

.search_person {
    font-weight: 550;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 10px;
    letter-spacing: 2px;
}


.result_info {
    width: 100%;
    height: 190px;
    background-color: #fff;
    border: 1px solid #c7cdcf;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    display: inline-block;
}

.result_info img {
    width: 140px;
    height: 140px;
    float: right;
    margin-right: 12px;
    margin-top: 15px;
}

.result_info_left {
    display: inline-block;
    float: left;
}

.result_info span {
    font-size: 14px;
    display: block;
    margin-left: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
}

.result_info_right {
    float: right;
    margin-right: 30%;
}

.result_resume {
    width: 140px;
    float: right;
    margin-right: 5%;
    height: 30px;
    background-color: #bbddf1;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 6px;
}
